# Build Folders
bin/
obj/

# User-specific Files
*.user
*.suo
*.vsp
*.vspx
*.log
*.tlog
*.VC.db

# Visual Studio Files
.vs/

# Rider IDE Files
.idea/

# macOS Files
.DS_Store

# Package Dependencies
packages/
!packages/repositories.config

# Logs and Debugging
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuration Files (Be cautious!)
appsettings.Development.json
secrets.json

# Entity Framework Migrations
Migrations/

# ASP.NET Core Hosting
wwwroot/node_modules/
wwwroot/lib/

# Docker
*.dockerfile
docker-compose.override.yml

# Publish output
publish/
